
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /000_angular/gmail/
RewriteRule ^index\.html$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /000_angular/gmail/index.html [L]
</IfModule>

